#root {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

a.card-link {
  margin: 0;
}

.h1-center {
  text-align: center;
}

.radio-center {
  text-align: center;
  font-size: 1.2rem;
}
