#root {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.card-link {
  margin: 0;
}

.card-vacancy {
  margin-top: 1rem;
}

.h1-center {
  text-align: center;
}

.radio-center {
  text-align: center;
  font-size: 1.2rem;
}

.active {
  font-weight: bold;
}

#menu {
  justify-content: space-around;
}

.TableSize {
  margin: 2rem 3rem 2rem 3rem;
}

table {
  margin-left: 0;
}
